%tr.row
  %td= link_to bet.topic.name, topic_path(bet.topic)
  %td= link_to bet.user.username, user_path(bet.user)
  %td= link_to bet.value, bet_path(bet)
  %td= bet.topic.actual_value
  %td= bet.differential
  %td
    - if (bet.user_id == current_user.id) && (bet.created_at > 1.day.ago)
      = link_to 'Edit', edit_bet_path(bet), class: 'btn btn-primary btn-sm'
      = link_to 'Delete', bet_path(bet), method: :delete, data: { confirm: 'Are you sure you want to delete this bet?' }, class: 'btn btn-danger btn-sm'
