.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-heading
      %h4= "#{params[:action].capitalize} Bet"
    .panel-body
      = form_for @bet do |f|
        = hidden_field_tag 'bet[topic_id]', params[:topic_id] || @bet.topic.id
        - if @topic.type.demodulize == 'Characteristic'
          .form-group
            - if @topic.unit.present?
              = f.label "#{@topic.name} (#{@topic.unit})"
            - else
              = f.label @topic.name
            = f.text_field :value, class: 'form-control'

        - if @topic.type.demodulize == 'Weight'
          .form-group
            = f.label 'Weight (oz)'
            = f.number_field :value, class: 'form-control', id: 'weight'
            %strong.weight-value

        - if @topic.type.demodulize == 'Date'
          .form-group
            = f.label 'Date of Birth'
            = f.text_field :value, class: 'form-control datepicker', id: 'date', data: { provide: 'datepicker' }

        .form-group
          = f.submit class: 'btn btn-primary'
          = link_to 'Cancel', :back, class: 'btn btn-default'


