%nav.navbar.navbar-default.navbar-static-top{ role: :navigation,
  aria: { label: :primary } }
  .navbar-header
    %button.navbar-toggle.collapsed{ type: :button, data: { toggle: :collapse,
      target: '.navbar-collapse' } }
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to root_path do
      = image_tag 'White_Baby_Emoji.png', style: "height: 40px; margin: 8px 15px;"
  .collapse.navbar-collapse
    - if user_signed_in?
      %ul.nav.navbar-nav
        %li= link_to 'Topics', topics_path
        %li= link_to 'Bets', bets_path
        %li= link_to 'Users', users_path
      %ul.nav.navbar-nav.pull-right
        %li= link_to current_user.username, user_path(current_user)
        %li= link_to 'Log Out', destroy_user_session_path, method: :delete
    - else
      %ul.nav.navbar-nav.pull-right
        %li= link_to 'Log in', new_user_session_path
        %li= link_to 'Register', new_user_registration_path
